/* estilos.css */
/* estilos.css */

body {
    background-color: #fce8e8; /* Color de fondo rosa pastel */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    background-color: #ff99cc; /* Color de fondo rosa pastel */
    text-align: center;
    padding: 20px;
}

h1 {
    color: #fff; /* Color de texto blanco */
}
.carrusel {
    position: relative;
    width: 100%;
    max-width: 600px; /* Ancho máximo del carrusel */
    margin: 0 auto; /* Centrar el carrusel horizontalmente */
    overflow: hidden; /* Ocultar contenido que se desborde */
}

.elemento {
    display: none; /* Ocultar elementos del carrusel por defecto */
    width: 100%; /* Ancho de cada elemento */
    text-align: center; /* Centrar contenido horizontalmente */
}

.elemento img {
    max-width: 100%; /* Asegurar que las imágenes se ajusten correctamente */
    height: auto; /* Permitir que la altura se ajuste automáticamente */
}

.anterior,
.siguiente {
    position: absolute; /* Posición absoluta para los botones */
    top: 50%; /* Centrar verticalmente los botones */
    transform: translateY(-50%); /* Alinear verticalmente los botones */
    background-color: #ff99cc; /* Color de fondo de los botones */
    color: #fff; /* Color del texto de los botones */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.siguiente {
    right: 0; /* Colocar el botón "Siguiente" a la derecha */
}

/* Agregar estilos cuando se pasa el mouse por encima de los botones */
.anterior:hover,
.siguiente:hover {
    background-color: #ff66a3; /* Cambiar el color de fondo al pasar el mouse */
}
.galeria {
    display: flex;
    width: 503px;
    height: 1120px;
}

.galeria img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.galeria img:hover {
    cursor: pointer;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
img {
    max-width: 60%;
    height: auto;
}

.carta {
    background-color: #fff; /* Fondo blanco para la carta */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra para la carta */
    text-align: center;
    max-width: 70%; /* Reducir el ancho de la carta al 60% */
    margin: 20px auto; /* Añadido margen para centrar la carta */
}

.carta p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 15px;
}
